<xf:macro name="purchase_inputs" arg-listing="!">
	<div class="inputGroup">
		<xf:textbox name="price" value="{{ !empty($listing.price) ? $listing.price : $category.draft_listing.price }}" placeholder="{{ phrase('price') }}" style="width: 120px" />
		<span class="inputGroup-splitter"></span>
		<xf:select name="currency" value="{$listing.currency|to_upper}" style="width: 110px">
			<xf:foreach loop="$xf.app.em.getRepository('Z61\Classifieds:Listing').getAvailableCurrencies($listing)" value="$currency">
				<xf:option value="{$currency.code}">{$currency.code}</xf:option>
			</xf:foreach>
		</xf:select>
	</div>
</xf:macro>

<xf:macro name="title" arg-listing="!" arg-category="!" arg-prefixes="!">
	<xf:prefixinputrow
		label="{{ phrase('title') }}"
		prefixes="{$prefixes}"
		type="classifieds_listing"
		prefix-value="{$listing.prefix_id}"
		textbox-value="{{ strlen($listing.title) > 0 ? $listing.title : $category.draft_listing.title }}"
		textbox-class="input--title"
		maxlength="{{ max_length($listing, 'title') }}"
		placeholder="{{ phrase('title...') }}"
		rowtype="fullWidth noLabel" />
</xf:macro>

<xf:macro name="type" arg-listing="!" arg-category="!" arg-listingTypes="!">
	<xf:formrow label="{{ phrase('z61_classifieds_type') }}">
		<xf:if is="$listingTypes">
			<xf:radio name="listing_type_id" value="{{$listing.listing_type_id > 0 ? $listing.listing_type_id : $category.draft_listing.listing_type_id }}">
				<xf:foreach loop="$listingTypes" value="$type">
					<xf:if is="$listing.isInsert()">
						<xf:option value="{$type.listing_type_id}" selected="{{ count($listingTypes) == 1}}">{$type.title}</xf:option>
					<xf:else/>
						<xf:option value="{$type.listing_type_id}" selected="{{ $listing.listing_type_id == $type.listing_type_id}}">{$type.title}</xf:option>
					</xf:if>
				</xf:foreach>
			</xf:radio>
		<xf:else />
			{{ $listingTypes.title }}
			<xf:hiddenval name="listing_type_id">{$listingTypes.listing_type_id}</xf:hiddenval>
		</xf:if>
	</xf:formrow>
</xf:macro>

<xf:macro name="expiration" arg-listing="!" arg-category="!">
	<xf:formrow	label="{{ phrase('expires') }}">
		<xf:if is="{$listing.isInsert()}">
			<xf:if is="$category.expiration_date is not empty">
				<xf:date time="$category.expiration_date" />
			<xf:else />
				{{ phrase('z61_classifieds_x_days', {'days': $category.expiration_days}) }}
			</xf:if>
			<xf:else />
			<xf:date time="{$listing.expiration_date}" />
		</xf:if>
	</xf:formrow>
</xf:macro>

<xf:macro name="content" arg-listing="!" arg-category="!" arg-attachmentData="{{ [] }}">
	<xf:editorrow name="message"
	  value="{$listing.content}"
	  attachments="{{ $attachmentData.attachments }}"
	  rowtype="fullWidth noLabel mergePrev"
	  label="{{ phrase('message') }}"
	/>

	<xf:formrow>
		<xf:if is="$attachmentData">
			<xf:macro template="helper_attach_upload" name="upload_block" arg-attachmentData="{$attachmentData}" />
		</xf:if>
		<xf:button class="button--link u-jsOnly" data-xf-click="preview-click" icon="preview" />
	</xf:formrow>
</xf:macro>

<xf:macro name="tags" arg-listing="!" arg-category="!">
	<xf:if is="$category.canEditTags()">
		<hr class="formRowSep" />
		<xf:tokeninputrow name="tags" value="{{ $listing.tags ? $listing.tags|join(', ') : $category.draft_listing.tags }}"
		  href="{{ link('misc/tag-auto-complete') }}"
		  min-length="{$xf.options.tagLength.min}"
		  max-length="{$xf.options.tagLength.max}"
		  max-tokens="{$xf.options.maxContentTags}"
		  label="{{ phrase('tags') }}">
			<xf:explain>
				{{ phrase('multiple_tags_may_be_separated_by_commas') }}
			</xf:explain>
		</xf:tokeninputrow>
	</xf:if>
</xf:macro>

<xf:macro name="contact_info" arg-listing="!" arg-category="!">
	<xf:if contentcheck="true">
		<h2 class="block-formSectionHeader"><span class="block-formSectionHeader-aligner">{{ phrase('z61_classifieds_contact_options') }}</span></h2>

		<hr class="formRowSep" />
		<xf:contentcheck>
			<xf:if is="{$category.contact_conversation} || {$category.contact_email}">
				<xf:checkboxrow>
					<xf:if is="$category.contact_conversation">
						<xf:option name="contact_conversation_enable" checked="{$listing.contact_conversation_enable}"
								   label="{{ phrase('z61_classifieds_allow_users_to_contact_by_conversation')}}"
						/>
					</xf:if>
					<xf:if is="$category.contact_email">
						<xf:option name="contact_email_enable" checked="{$listing.contact_email_enable}"
								   label="{{ phrase('z61_classifieds_allow_users_to_contact_by_email') }}">
							<xf:textbox name="contact_email" value="{{ strlen($listing.contact_email) > 0 ?: $listing.contact_email }}" maxlength="150" />
						</xf:option>
					</xf:if>
				</xf:checkboxrow>
			</xf:if>
			<xf:if is="$category.contact_custom">
				<xf:textboxrow name="contact_custom" value="{{ $listing.contact_custom}}"
							   label="{{ phrase('z61_classifieds_custom_contact_details') }}"
							   explain="{{ phrase('z61_classifieds_custom_contact_details_explain') }}" maxlength="150"
				/>
			</xf:if>
		</xf:contentcheck>
	</xf:if>
</xf:macro>

<xf:macro name="condition" arg-listing="!" arg-category="!" arg-conditions="!">
	<xf:formrow label="{{ phrase('z61_classifieds_condition') }}">
		<xf:radio name="condition_id" value="{{ $listing.condition_id > 0 ? $listing.condition_id :  $category.draft_listing.condition_id }}">
			<xf:foreach loop="$conditions" value="$condition">
				<xf:if is="$listing.isInsert()">
					<xf:option value="{$condition.condition_id}" selected="{{ count($conditions) == 1 }}">{{ $condition.title }}</xf:option>
				<xf:else/>
					<xf:option value="{$condition.condition_id}" selected="{{ $listing.condition_id == $condition.condition_id }}">{{ $condition.title }}</xf:option>
				</xf:if>
			</xf:foreach>
		</xf:radio>
	</xf:formrow>
</xf:macro>

<xf:macro name="package" arg-listing="!" arg-category="!" arg-packages="!">
	<xf:formrow label="{{ phrase('z61_classifieds_package') }}">
		<xf:radio name="package_id" value="{{$listing.package_id > 0 ? $listing.package_id : $category.draft_listing.package_id }}">
			<xf:foreach loop="$packages" value="$package">
				<xf:if is="$listing.isInsert()">
					<xf:option value="{$package.package_id}" hint="{$package.cost_phrase}"
							   selected="{{ count($packages) == 1 }}">{{ $package.title }}</xf:option>
				<xf:else/>
					<xf:option value="{$package.package_id}" hint="{$package.cost_phrase}"
							   selected="{{ $listing.package_id == $package.package_id }}">{{ $package.title }}</xf:option>
				</xf:if>
			</xf:foreach>
		</xf:radio>
	</xf:formrow>
</xf:macro>