<xf:if is="$category.isInsert()">
	<xf:title>{{ phrase('add_category') }}</xf:title>
<xf:else />
	<xf:title>{{ phrase('edit_category:') }} {$category.title}</xf:title>
</xf:if>

<xf:pageaction if="$category.category_id">
	<xf:button href="{{ link('auction/categories/delete', $category) }}"
		icon="delete"
		data-xf-click="overlay" />
</xf:pageaction>

<xf:form action="{{ link('auction/categories/save', $category) }}" ajax="true" class="block">
	<div class="block-container">
		<div class="block-body">
			<xf:textboxrow name="title" value="{$category.title}"
				label="{{ phrase('title') }}" />

			<xf:textarearow name="description" value="{$category.description}" rows="2" autosize="true"
				label="{{ phrase('description') }}"
				hint="{{ phrase('you_may_use_html') }}" />

			<xf:macro template="category_tree_macros" name="parent_category_select_row"
				arg-category="{$category}"
				arg-categoryTree="{$categoryTree}" />

			<xf:macro template="display_order_macros" name="row"
					  arg-value="{$category.display_order}" />

			<xf:selectrow name="layout_type" value="{$category.layout_type}" id="js-classifiedsLayoutType"  label="{{ phrase('option.z61ClassifiedsListLayout') }}">
					<xf:option value="list_view" selected="{{ $category.layout_type == 'list_view' }}">{{ phrase('z61_classifieds_list_view_layout') }}</xf:option>
					<xf:option value="grid_view" selected="{{ $category.layout_type == 'grid_view' }}">{{ phrase('z61_classifieds_grid_view_layout') }}</xf:option>
			</xf:selectrow>
			
			<xf:submitrow sticky="true" icon="save" />
		</div>
	</div>
</xf:form>