<xf:title>
  <xf:if is="$data.term_id"> {{ phrase('fs_edit_auction') }}
  <xf:else /> {{ phrase('fs_add_auction') }} </xf:if>
</xf:title>
<xf:form
  action="{{ link('ship-terms/save', $data) }}"
  ajax="true"
  class="block"
  data-force-flash-message="true"
>
  <div class="block-container">
    <div class="block-body">
      <xf:textboxrow
        name="shipping_term"
        value="{$data.shipping_term}"
        label="{{ phrase('fs_auction_term_label') }}"
        autosize="true"
      />
    </div>
    <xf:submitrow submit="" icon="save" />
  </div>
</xf:form>