<xf:css src="fs_wr_statsList.less" />


	<section class="block">		
		<div class="blockMessage fs-avrBlock">
			<h3 class="block-textHeader">
				{{ phrase('fs_wr_overall_issue_solved_average') }}: {$overAllsolvedAverage|number_short(2)} %
			</h3>
		</div>
	</section>


	<section class="block">
		<div class="block-container">
			
			<div class="block-body">
				<ol class="memberOverviewBlocks">
					<xf:if contentcheck="true">
						
						<li class="memberOverviewBlock">
							<h3 class="block-textHeader">
								<a href="#" class="memberOverViewBlock-title">{{ phrase('fs_wr_most_solved_issues_websites') }}</a>
							</h3>
							<ol class="memberOverviewBlock-list">
								<xf:contentcheck>
									<xf:foreach loop="$solvedPercentageNodes" key="$id" value="$node">
										<li>
											<xf:macro name="overview_row" arg-node="{$node}" arg-column="solved_percentage" />
										</li>
									</xf:foreach>
								</xf:contentcheck>
							</ol>
						</li>
						
						<li class="memberOverviewBlock">
							<h3 class="block-textHeader">
								<a href="#" class="memberOverViewBlock-title">{{ phrase('fs_wr_most_unsolved_issues_websites') }}</a>
							</h3>
							<ol class="memberOverviewBlock-list">
								<xf:contentcheck>
									<xf:foreach loop="$unsolvedPercentageNodes" key="$id" value="$node">
										<li>
											<xf:macro name="overview_row" arg-node="{$node}" arg-column="unsolved_percentage" />
										</li>
									</xf:foreach>
								</xf:contentcheck>
							</ol>
						</li>
						
						<li class="memberOverviewBlock">
							<h3 class="block-textHeader">
								<a href="#" class="memberOverViewBlock-title">{{ phrase('fs_wr_most_complains_websites') }}</a>
							</h3>
							<ol class="memberOverviewBlock-list">
								<xf:contentcheck>
									<xf:foreach loop="$mostCompainsNodes" key="$id" value="$node">
										<li>
											<xf:macro name="overview_row" arg-node="{$node}" arg-column="issue_count" />
										</li>
									</xf:foreach>
								</xf:contentcheck>
							</ol>
						</li>
						
					</xf:if>
				</ol>
			</div>
		</div>
</section>



<xf:macro name="overview_row" arg-node="!" arg-column="!">
	<div class="contentRow contentRow--alignMiddle">
		<div class="contentRow-figure">
			<span class="node-icon" aria-hidden="true">
				<xf:fa icon="fa-browser" />
			</span>
		</div>
		<div class="contentRow-main">
			
			<div class="contentRow-extra contentRow-extra--large">{$node.{$column}} {{$column != 'issue_count'? '%': ''}}</div>
			
			<h3 class="contentRow-title">
				<a href="{{ link('forums', $node) }}" data-xf-init="{{ $descriptionDisplay == 'tooltip' ? 'element-tooltip' : '' }}" data-shortcut="node-description">{$node.title}</a>
			</h3>
		</div>
	</div>
</xf:macro>