<xf:form action="{{ link('web-ranking') }}">

	<div class="menu-row menu-row--separated">
		{{ phrase('fs_web_ranking_status:') }}
		<div class="u-inputSpacer">
			<xf:select name="fs_web_ranking_complains" value="{$conditions.fs_web_ranking_complains}">
				<xf:option value="high" label="{{ phrase('fs_web_ranking_high') }}" />
				<xf:option value="lowest" label="{{ phrase('fs_web_ranking_lowest') }}" />
			</xf:select>
		</div>
	</div>	

	<div class="menu-footer">
		<span class="menu-footer-controls">
			<xf:button type="submit" class="button--primary"
					   >{{ phrase('filter') }}</xf:button
				>
		</span>
	</div>

	<xf:hiddenval name="search">1</xf:hiddenval>
</xf:form>