<xf:if is="$data.isInsert()">
	<xf:title>{{ phrase('auctionPostThread') }}</xf:title>
<xf:else />
	<xf:title>{{ phrase('fs_auction_edit_post') }}</xf:title>
</xf:if>

<xf:js prod="xf/attachment_manager-compiled.js" dev="vendor/flow.js/flow-compiled.js, xf/attachment_manager.js" />

<xf:form
  action="{{ link('auction/categories/save', $data) }}"
  ajax="true"
  class="block"
  data-xf-init="attachment-manager"
  draft="{{ link('auction/categories/draft', $data) }}"
  data-preview-url="{{ link('classifieds/categories/listing-preview', $category) }}"
>
  <div class="block-container">
    <div class="block-body">	
		<xf:hiddenval name="attachment_time">{$attachment_time}</xf:hiddenval>
		<xf:prefixinputrow
				label="{{ phrase('title') }}"
				prefixes="{$prefixes}"
				type="thread"
				prefix-value="{{$auctionPrefixId}}"
				textbox-value="{{ $data ? $data.title : ''}}"
				textbox-class="input--title"
				placeholder="{$forum.thread_prompt}"
				rowtype="fullWidth noLabel"
				autofocus="autofocus"
				maxlength="{{ max_length('XF:Thread', 'title') }}"
				help-href="{{ link('forums/prefix-help', $forum) }}"
				required="true"
				finalhtml="{$titleFinalHtml}" />

      <div>
        <xf:editorrow
          name="message"
		  value="{{ $data ? $data.content : ''}}"
		  required="true"
          attachments="{{ $attachmentData ? $attachmentData.attachments : [] }}"
          rowtype="fullWidth noLabel mergePrev"
          label="{{ phrase('message') }}"
        />

        <xf:formrow>
        
            <xf:macro
              template="helper_attach_upload"
              name="upload_block"
			  required="true"
              arg-attachmentData="{$attachmentData}"
            />
         
        </xf:formrow>
      </div>
      
		
        <xf:formrow label="{{ phrase('auction_endDate') }}" hint="{{ phrase('auction_required') }}" explain="{{ phrase('auction_endDate_explain') }}">

		 <input
              name="ends_on"
			  type="date"
              class="date end"
              value="{{ $data.ends_on ? date($data.ends_on, 'Y-m-d') : date($xf.time, 'Y-m-d')}}"
              min="{{date($xf.time, 'Y-m-d')}}"
              required="true"
            />
        </xf:formrow>
		
		<xf:selectrow
        name="timezone"
        label="{{ phrase('auction_time_zone') }}"
        hint="{{ phrase('required') }}"
        required="true"
		explain="{{ phrase('auction_timeZone_explain') }}"
      >
        <xf:option value="0">{{ phrase('(none)') }}</xf:option>

        <xf:foreach loop="$timeZones" value="$val">
          <xf:option
            value="{$val}"
			selected="{{$val== $data.timezone}}"
            >{$val}</xf:option
          >
        </xf:foreach>
      </xf:selectrow>
		
      <xf:numberboxrow name="starting_bid" value="{{ $data ? $data.starting_bid : ''}}" min="0" explain="{{ phrase('auction_bid_explain') }}"
              required="true"
				
				label="{{ phrase('starting_bid') }}" />
		
		<xf:selectrow
        name="bid_increament"
        label="{{ phrase('bid_increments') }}"
        hint="{{ phrase('required') }}"
        required="true"
      >
        <xf:option value="0">{{ phrase('(none)') }}</xf:option>

        <xf:foreach loop="$bidIncreaments" value="$val">
          <xf:option
			selected="{{$val== $data.bid_increament}}"
            value="{$val}"
            >{$val}</xf:option
          >
        </xf:foreach>
      </xf:selectrow>
		<xf:checkboxrow label="{{ phrase('payment_methods') }}" name="payment_methods[]" hint="{{ phrase('auction_required') }}" 
						explain="{{ $paymentMethods.0 ? phrase('auction_payment_explain') : phrase('auction_payment_notAdded_explain')  }}"
						required="true">
			<xf:if is="$paymentMethods.0">
			
			<xf:foreach loop="$paymentMethods" value="$val">

         		 <xf:option
            		value="{$val}"
					checked="{{ in_array($val,$data.payment_methods) ? 'checked' : '' }}">
					 {$val}
				</xf:option
          >		

        </xf:foreach>
					</xf:if>
				
			</xf:checkboxrow>
		
		
		<xf:selectrow
        name="shipping_term"
        label="{{ phrase('shippingTerms') }}"
        hint="{{ phrase('required') }}"
		explain="{{ phrase('auction_shippingTerms_explain') }}"
        required="true"
      >
        <xf:option value="0">{{ phrase('(none)') }}</xf:option>

        <xf:foreach loop="$shipTerms" value="$val">
          <xf:option
			selected="{{$val.term_id == $data.shipping_term}}"
            value="{$val.term_id}"
            >{$val.shipping_term}</xf:option
          >
        </xf:foreach>
      </xf:selectrow>
		
		<xf:selectrow
        name="ships_via"
        label="{{ phrase('shippingVia') }}"
        hint="{{ phrase('required') }}"
		explain="{{ phrase('auction_shippingVia_explain') }}"
        required="true"
      >
        <xf:option value="0">{{ phrase('(none)') }}</xf:option>

        <xf:foreach loop="$shipsVia" value="$val">
          <xf:option
			selected="{{$val.via_id == $data.ships_via}}"
            value="{$val.via_id}"
            >{$val.ship_via}</xf:option
          >
        </xf:foreach>
      </xf:selectrow>
		
		<xf:checkboxrow label="{{ phrase('guidlines') }}" name="auction_guidelines" hint="{{ phrase('auction_required') }}" 
						explain="{{ phrase('auction_guidlines_explain') }}" required="true"
						>
				<xf:option value="1" checked="{{ $data.auction_guidelines ? 'checked' : '' }}" required="true">
					{{ phrase('guidlines_statement') }}
				</xf:option>
			
			</xf:checkboxrow>
		
		<xf:checkboxrow label="{{ phrase('bumpingRule') }}" name="bumping_rules" hint="{{ phrase('auction_required') }}" 
						explain="{{ phrase('auction_bumpingRule_explain') }}" required="true"
						>
				<xf:option value="1" checked="{{ $data.bumping_rules ? 'checked' : '' }}">
					{{ phrase('bumpingRule_statement') }}
				</xf:option>
			
			</xf:checkboxrow>
		
<xf:checkboxrow
      label="{{ phrase('auctionsOptions') }}"
				
>
  <xf:option
    name="watch_thread"
    value="1"
	checked="{{ $data.watch_thread ? 'checked' : '' }}"
    selected="$option.option_value.required"
    data-hide="true"
    label="{{ phrase('watchThisThread') }}"
  >
    <xf:checkbox>
      <xf:option
        name="receive_email"
		checked="{{ $data.receive_email ? 'checked' : '' }}"
        selected="$option.option_value.validate"
      >
        <xf:label
          >{{ phrase('receiveEmailNotification') }}</xf:label
        >
     
      </xf:option>
    </xf:checkbox>
  </xf:option>
</xf:checkboxrow>

    </div>
	  
	  <input type="hidden" name="category_id" value="{{$category.category_id}}" />

    <xf:submitrow icon="save" sticky="true" />
  </div>
</xf:form>