<xf:title>{{$auction.title}}</xf:title>
<xf:pageaction if="$xf.visitor.user_id == $auction.User.user_id">
	<xf:button href="{{ link('auction/categories/delete', $auction) }}" overlay="true" class="button button--icon button--icon--edit" icon="delete">{{ phrase('delete') }}</xf:button>
	<xf:button href="{{ link('auction/categories/edit', $auction) }}" class="button button--icon button--icon--edit" icon="edit">{{ phrase('edit') }}</xf:button>
	<xf:button href="{{ link('auction/categories/bumping', $auction) }}" class="button button--icon button--icon--add" icon="add">{{ phrase('fs_auction_bumping') }}</xf:button>
</xf:pageaction>

<header class="message-attribution message-attribution--split" style="color: #8c8c8c; font-size: 12px; padding-bottom: 3px; border-bottom: 1px solid #c9c9c9;">
		<ul class="message-attribution-main listInline ">

			<li class="u-concealed">
					<xf:date time="{{$auction.created_date}}" itemprop="datePublished" />
			</li>
		</ul>
	</header>
  <div class="block-container">

		<div class="message-fields message-fields--after">
	
				<dl class="pairs pairs--columns pairs--fixedSmall pairs--customField" data-field="threadCustomField">
					<dt>{{ phrase('auction_endDate') }}</dt>
					
					<dd><xf:date time="{{$auction.ends_on}}" /></dd>
				</dl>
			
		</div>

		<div class="message-fields message-fields--after">
	
				<dl class="pairs pairs--columns pairs--fixedSmall pairs--customField" data-field="threadCustomField">
					<dt>{{ phrase('auction_time_zone') }}</dt>
					<dd>{{$auction.timezone}}</dd>
				</dl>
			
		</div>

		<div class="message-fields message-fields--after">
	
				<dl class="pairs pairs--columns pairs--fixedSmall pairs--customField" data-field="threadCustomField">
					<dt>{{ phrase('starting_bid') }}</dt>
					<dd>{{$auction.starting_bid}} {{phrase('dollorSymbol')}}</dd>
				</dl>
			
		</div>

		<div class="message-fields message-fields--after">
	
				<dl class="pairs pairs--columns pairs--fixedSmall pairs--customField" data-field="threadCustomField">
					<dt>{{ phrase('bid_increments') }}</dt>
					<dd>{{$auction.bid_increament}}</dd>
				</dl>
			
		</div>

		<div class="message-fields message-fields--after">
	
				<dl class="pairs pairs--columns pairs--fixedSmall pairs--customField" data-field="threadCustomField">
					<dt>{{ phrase('payment_methods') }}</dt>
					<dd>
					<xf:foreach loop="$auction.payment_methods" value="$val">
						<p style="margin:0px;">{$val}</p>
        			</xf:foreach>
					</dd>
				</dl>
			
		</div>

		<div class="message-fields message-fields--after">
	
				<dl class="pairs pairs--columns pairs--fixedSmall pairs--customField" data-field="threadCustomField">
					<dt>{{ phrase('shippingTerms') }}</dt>
					<dd>{{ $auction.ShipTerm.shipping_term }}</dd>
				</dl>
			
		</div>

		<div class="message-fields message-fields--after">
	
				<dl class="pairs pairs--columns pairs--fixedSmall pairs--customField" data-field="threadCustomField">
					<dt>{{ phrase('shippingVia') }}</dt>
					<dd>{{ $auction.ShipVia.ship_via }}</dd>
				</dl>
		</div>


<br><br>
<div>
	

				<img src="{{$auction.getImage() ? $auction.getImage() : base_url('styles/FS/AuctionPlugin/no_image.png',true)}}" alt="{$attachment.filename}"
					width=" " style="width:-webkit-fill-available; width:-moz-available;" height="" loading="lazy" />

</div>

<xf:if is="$auction.ends_on > $xf.time AND $xf.visitor.user_id != 0">
		<xf:if is="$xf.visitor.user_id != $auction.User.user_id">


			<xf:form
				  action="{{ link('auction/categories/bidding', $auction) }}"
				  ajax="true"
				  class="block"
				  data-xf-init="attachment-manager"
				>
				<xf:formrow 
					label="{{ phrase('BidCost') }}">
	
			<!--bidDropDownRange value is  bid dropdown List items count-->
	
					<xf:set var="$bidDropDownRange" value="{{range(0,$dropDownListLimit)}}" />

					<div class="inputChoices">
							<xf:radio>
								<xf:option label="{{ phrase('auctionDropdownBid') }}">
									<xf:dependent>
										<!--sum value is  bid increament+bidstart -->
										<xf:set var="$sum" value="{{$auction.bid_increament+$auction.starting_bid}}" />

										<xf:select name="bidding_amount">
												<xf:foreach loop="$bidDropDownRange" key="$key" value="$val">
													<xf:option value="{{$sum+$bidIncrementFromDb}}">{{$sum+$bidIncrementFromDb}}</xf:option>
													<xf:set var="$sum" value="{{$sum+$auction.bid_increament}}" />
												</xf:foreach>
										 </xf:select>
									</xf:dependent>
								</xf:option>

								<xf:option label="{{ phrase('auctionCustomBid') }}">
									<xf:dependent>
										 <xf:numberbox name="bidding_amount" value="" min="0" 			
										label="{{ phrase('auctionCustomBid') }}" />
									</xf:dependent>

								</xf:option>
							</xf:radio>
					</div>
	
		</xf:formrow>

			<xf:submitrow icon="reply" sticky="true" />

		</xf:form>
	<xf:else />
		<p>{{phrase('auctionOwnerCanNotBid')}}</p>
	</xf:if>
	
<xf:else />
	{{phrase('biddingNotAllowed')}}
</xf:if>
</div>

<div class="block">
  <div class="block-container">
    <div class="block-body">
      <xf:datalist data-xf-init="responsive-data-list">
          <xf:macro name="bidding_table_list" arg-bidding="{$bidding}" />
      </xf:datalist>
    </div>
  </div>
</div>


<xf:macro name="bidding_table_list" arg-bidding="{$bidding}">
  <xf:datarow rowtype="header">
    <xf:cell> {{phrase('fs_auction_bidding_username')}} </xf:cell>
    <xf:cell> {{phrase('fs_auction_bid_at')}} </xf:cell>
    <xf:cell> {{phrase('fs_auction_bid_amount')}} </xf:cell>
    <xf:cell class="dataList-cell--min"></xf:cell>
  </xf:datarow>
  <xf:foreach loop="{$bidding}" value="$val">
    <xf:datarow>
      <xf:cell href="{{ link('crud/edit', $val) }}"> {{$val.User.username}} </xf:cell>
      <xf:cell> <xf:date time="{{$val.created_at}}" /></xf:cell>
      <xf:cell> {{$val.bidding_amount}} </xf:cell>
      <xf:action href="{{ link('ship-via/edit', $value) }}" >{{ phrase('edit') }}</xf:action>
    </xf:datarow>
  </xf:foreach>
</xf:macro>