<xf:title>{{ phrase('z61_classifieds_add_listing') }}</xf:title>

<xf:breadcrumb source="$category.getBreadcrumbs()" />

<xf:js src="https://maps.googleapis.com/maps/api/js?key={$xf.options.z61ClassifiedsGoogleApi}&libraries=places"></xf:js>
<xf:js src="z61/classifieds/geocomplete.js"></xf:js>
<xf:js>
	$("#location").geocomplete();  
</xf:js>

<xf:form action="{{ link('auction/categories/add', $category) }}" ajax="true" class="block"
	data-xf-init="attachment-manager"
	draft="{{ link('classifieds/categories/draft', $category) }}"
	data-preview-url="{{ link('auction/categories/listing-preview', $category) }}">

	<div class="block-container">
		<div class="block-body">
			<xf:macro template="z61_classifieds_listing_edit_macros" name="title"
			    arg-category="{$category}"
				arg-listing="{$listing}"
				arg-prefixes="{$prefixes}" />

			<div>
				<xf:editorrow name="message"
				  attachments="{{ $attachmentData ? $attachmentData.attachments : [] }}"
				  rowtype="fullWidth noLabel mergePrev"
				  label="{{ phrase('message') }}" />

				<xf:formrow>
					<xf:if is="$attachmentData">
						<xf:macro template="helper_attach_upload" name="upload_block"
						  arg-attachmentData="{$attachmentData}"
						  arg-forceHash="{$category.draft_listing.attachment_hash}" />
					</xf:if>
				</xf:formrow>
			</div>
	
		</div>


		<xf:submitrow icon="save" sticky="true" />
	</div>
</xf:form>