<xf:macro name="listing"
	arg-listing="!"
	arg-category="{{ null }}"
	arg-showWatched="{{ true }}"
	arg-allowInlineMod="{{ true }}"
	arg-chooseName=""
	arg-extraInfo="">
	<xf:css src="structured_list.less" />
	<xf:css src="fs_auction_list_view.less" />
	
	<div class="structItem structItem--listing js-inlineModContainer " id="auction-{{$listing.auction_id}}" data-author="{{ $listing.User.username ?: $listing.username }}">
		<div class="structItem-cell structItem-cell--icon structItem-cell--iconExpanded structItem-cell--iconListingCoverImage">
			<div class="structItem-iconContainer">
				<xf:if is="$listing.ends_on > $xf.time">
						<a href="{{ link('auction/view-auction', $listing) }}" class="" data-tp-primary="on">
							<img src ="{{$listing.Attachment.thumbnail_url ?: base_url('styles/FS/AuctionPlugin/no_image.png',true)}}" onload="timmerCounter({{$listing.auction_id}},{{$listing.ends_on}})" style="min-height: 92px; max-height: 92px;"></a>
				<xf:else />
						<a href="{{ link('auction/view-auction', $listing) }}" class="" data-tp-primary="on">
							<img src ="{{$listing.Attachment.thumbnail_url ?: base_url('styles/FS/AuctionPlugin/no_image.png',true)}}" style="min-height: 92px; max-height: 92px;"></a>
				</xf:if>
						
			</div>
		</div>
			
				
		<div class="structItem-cell structItem-cell--main" data-xf-init="touch-proxy">
		
			<div class="structItem-title">
			<span class="label label--blue label--smallest">
						{{ phrase_dynamic($listing.Prefix.getPhraseName()) }}
					</span>
				<a href="{{ link('auction/view-auction', $listing) }}" class="" data-tp-primary="on">{$listing.title}</a>
					<span class="structItem-listingDescription"> {{ $listing.starting_bid}} {{ phrase('dollorSymbol') }}</span>
			</div>
			<div class="structItem-minor">

					<ul class="structItem-parts">
						<li><xf:username user="$listing.User" defaultname="{$listing.User}" /></li>
						<li class="structItem-startDate">
							<xf:date time="{$listing.created_date}" /> 
							
						</li>
						
							<li>{{ snippet($listing.Category.title, 50, {'stripBbCode': true}) }}</li>
				
				</ul>
			</div>
			
			<!--	<div class="structItem-listingDescription">{{ $listing.starting_bid}}</div> -->
			
				<div class="auction-category">{{ snippet($listing.content, 100, {'stripBbCode': true}) }}</div>
			
		
		</div>
		<div class="structItem-cell structItem-cell--listingMeta">

			<dl class="pairs pairs--justified structItem-minor structItem-metaItem structItem-metaItem--type">
				<dt>{{ phrase('auctionEndsOn') }}</dt>
				<dd>
					{{date($listing.ends_on,'F j, Y')}}
			<!--		<xf:date time="{$listing.ends_on}" /> -->
				</dd>
			</dl>
			<dl class="pairs pairs--justified structItem-minor structItem-metaItem structItem-metaItem--type">
				<dt>
					<xf:if is="$listing.ends_on < $xf.time">
						<li>
							<span class="label label--orange label--smallest">{{ phrase('auctionBidClosed') }} 
								<i class="structItem-status structItem-status--locked" 
								   aria-hidden="true" title="{{ phrase('locked')|for_attr }}"></i>
							<span class="u-srOnly">{{ phrase('auctionLocked') }}</span>
							</span>
						</li>
					<xf:else />
						<li>
							<div>
								
						<span class="label  label--blue label--counter" id="days-auction-{{$listing.auction_id}}">
							 {{phrase('fs_auction_DD')}}
						</span>
						<span class="label  label--blue label--counter" id="hours-auction-{{$listing.auction_id}}">
							 {{phrase('fs_auction_HH')}}
						</span>
							<span class="label  label--blue label--counter" id="minutes-auction-{{$listing.auction_id}}">
							{{phrase('fs_auction_MM')}}
						</span>
							<span class="label  label--blue label--counter" id="seconds-auction-{{$listing.auction_id}}">
							 {{phrase('fs_auction_SS')}}
						</span>
							</div>
						
					</li>
					</xf:if>
				</dt>
				<dd> </dd>
			</dl>
			
		</div>
	</div>
</xf:macro>

<xf:macro name="listing_grid"
		  arg-listing="!"
		  arg-category="{{ null }}"
		  arg-showWatched="{{ true }}"
		  arg-allowInlineMod="{{ true }}"
		  arg-chooseName=""
		  arg-extraInfo="">

	<xf:css src="structured_list.less" />
	
	<xf:css src="fs_auctions.less" />
	
	<xf:css src="fs_auction_listing_grid_view.less" />

	
	<div id="auction-{{$listing.auction_id}}" class="structItem structItem--listing js-inlineModContainer js-listingListItem-{$listing.auction_id}" style="display: grid;
    justify-content: center;
}">
		<div class="structItem-cell structItem-cell--icon structItem-cell--iconExpanded structItem-cell--iconListingCoverImage">
			<div class="structItem-iconContainer" >
				<xf:if is="$listing.ends_on > $xf.time">
					<a href="{{ link('auction/view-auction', $listing) }}" class="" data-tp-primary="on"><img src ="{{$listing.Attachment.thumbnail_url ?: base_url('styles/FS/AuctionPlugin/no_image.png',true)}}" loading="lazy" class="auction-itemGrid-img" onload="timmerCounter({{$listing.auction_id}},{{$listing.ends_on}})"></a>
				<xf:else />
							<a href="{{ link('auction/view-auction', $listing) }}" class="" data-tp-primary="on"><img src ="{{$listing.Attachment.thumbnail_url ?: base_url('styles/FS/AuctionPlugin/no_image.png',true)}}" class="auction-itemGrid-img" loading="lazy"></a>
				</xf:if>
				
			</div>
		</div>
		
		<div class="structItem-cell structItem-cell--listingMeta">
			<div class="structItem-cell structItem-cell--main" >

			
				<div >
					<span class="auction-category">{{ snippet($listing.Category.title, 50, {'stripBbCode': true}) }}</span>
				</div>
				
				<div >
	
					<xf:if is="$listing.ends_on < $xf.time">
						
				<dl class="pairs pairs--justified structItem-minor structItem-metaItem structItem-metaItem--expiration">
					<dt>{{ phrase('auctionEndsOn') }}</dt>
					<dd>		
						<span class="label label--orange label--smallest">{{ phrase('auctionBidClosed') }} 
								<i class="structItem-status structItem-status--locked" 
								   aria-hidden="true" title="{{ phrase('locked')|for_attr }}"></i>
							<span class="u-srOnly">{{ phrase('auctionLocked') }}</span>
						</span>
						</dd>
				</dl>
									
					<xf:else />

						
				<dl class="pairs pairs--justified structItem-minor structItem-metaItem structItem-metaItem--expiration">
						<dt>{{ phrase('auctionEndsOn') }}</dt>
						<dd>			
							<span class="label  label--blue label--counter" id="days-auction-{{$listing.auction_id}}">
								 {{phrase('fs_auction_DD')}}
							</span>
							<span class="label  label--blue label--counter" id="hours-auction-{{$listing.auction_id}}">
								{{phrase('fs_auction_HH')}}
							</span>
							<span class="label  label--blue label--counter" id="minutes-auction-{{$listing.auction_id}}">
						 		{{phrase('fs_auction_MM')}}
							</span>
							<span class="label  label--blue label--counter" id="seconds-auction-{{$listing.auction_id}}">
								{{phrase('fs_auction_SS')}}
							</span>
						</dd>
				</dl>
	
			</xf:if>
				</div>

			<div class="structItem-title">
					<span class="label label--blue label--smallest">
						{{ phrase_dynamic($listing.Prefix.getPhraseName()) }}
							
					</span>
			<a href="{{ link('auction/view-auction', $listing) }}" class="" data-tp-primary="on">{{ snippet($listing.title, 33, {'stripBbCode': true}) }}</a>
			</div>
			<div class="structItem-minor">
					<ul class="structItem-parts">
						<li><xf:username user="$listing.User" defaultname="{$listing.User}" /></li>
						<li class="structItem-startDate"><xf:date time="{$listing.created_date}" /></li>
						<xf:if is="!$category OR $category.hasChildren()">
							<li>{{phrase('auctionEndsOn')}} . {{date($listing.ends_on,'F j, Y')}}
</li>
						</xf:if>
					</ul>

			</div>
				<div class="auction-category">{{ snippet($listing.content, 50, {'stripBbCode': true}) }}</div>

				<dl class="pairs pairs--justified structItem-minor structItem-metaItem structItem-metaItem--expiration">
					<dt style="color:black; font-size:17px">{{ phrase('AuctionStarting_bid') }}</dt>
					<dd style="color:black; font-size:17px">
							{$listing.starting_bid} {{phrase('dollorSymbol')}}
					</dd>
				</dl>
		
		</div>

		</div>
	</div>
</xf:macro>