<xf:title>{{$auction.title}}</xf:title>
<xf:pageaction if="$xf.visitor.user_id == $auction.User.user_id">
	<xf:button href="{{ link('auction/categories/edit', $auction) }}" class="button button--icon button--icon--edit" icon="edit">{{ phrase('edit') }}</xf:button>
	<xf:button href="{{ link('auction/categories/delete', $auction) }}" overlay="true" class="button button--icon button--icon--edit" icon="delete">{{ phrase('delete') }}</xf:button>
</xf:pageaction>

<header class="message-attribution message-attribution--split" style="color: #8c8c8c; font-size: 12px; padding-bottom: 3px; border-bottom: 1px solid #c9c9c9;">
		<ul class="message-attribution-main listInline ">

			<li class="u-concealed">
					<xf:date time="{{$auction.created_date}}" itemprop="datePublished" />
			</li>
		</ul>
	</header>

		<div class="message-fields message-fields--after">
	
				<dl class="pairs pairs--columns pairs--fixedSmall pairs--customField" data-field="threadCustomField">
					<dt>{{ phrase('auction_endDate') }}</dt>
					
					<dd><xf:date time="{{$auction.ends_on}}" /></dd>
				</dl>
			
		</div>

		<div class="message-fields message-fields--after">
	
				<dl class="pairs pairs--columns pairs--fixedSmall pairs--customField" data-field="threadCustomField">
					<dt>{{ phrase('auction_time_zone') }}</dt>
					<dd>{{$auction.timezone}}</dd>
				</dl>
			
		</div>

		<div class="message-fields message-fields--after">
	
				<dl class="pairs pairs--columns pairs--fixedSmall pairs--customField" data-field="threadCustomField">
					<dt>{{ phrase('starting_bid') }}</dt>
					<dd>{{$auction.starting_bid}} {{phrase('dollorSymbol')}}</dd>
				</dl>
			
		</div>

		<div class="message-fields message-fields--after">
	
				<dl class="pairs pairs--columns pairs--fixedSmall pairs--customField" data-field="threadCustomField">
					<dt>{{ phrase('bid_increments') }}</dt>
					<dd>{{$auction.bid_increament}}</dd>
				</dl>
			
		</div>

		<div class="message-fields message-fields--after">
	
				<dl class="pairs pairs--columns pairs--fixedSmall pairs--customField" data-field="threadCustomField">
					<dt>{{ phrase('payment_methods') }}</dt>
					<dd>
					<xf:foreach loop="$auction.payment_methods" value="$val">
						<p style="margin:0px;">{$val}</p>
        			</xf:foreach>
					</dd>
				</dl>
			
		</div>

		<div class="message-fields message-fields--after">
	
				<dl class="pairs pairs--columns pairs--fixedSmall pairs--customField" data-field="threadCustomField">
					<dt>{{ phrase('shippingTerms') }}</dt>
					<dd>{{ $auction.ShipTerm.shipping_term }}</dd>
				</dl>
			
		</div>

		<div class="message-fields message-fields--after">
	
				<dl class="pairs pairs--columns pairs--fixedSmall pairs--customField" data-field="threadCustomField">
					<dt>{{ phrase('shippingVia') }}</dt>
					<dd>{{ $auction.ShipVia.ship_via }}</dd>
				</dl>
		</div>


<br><br>
<div>
	

				<img src="{{$auction.getImage() ? $auction.getImage() : base_url('styles/FS/AuctionPlugin/no_image.png',true)}}" alt="{$attachment.filename}"
					width=" " style="width:-webkit-fill-available; width:-moz-available;" height="" loading="lazy" />

</div>

<xf:if is="$auction.ends_on > $xf.time AND $xf.visitor.user_id != 0">
		<xf:if is="$xf.visitor.user_id != $auction.User.user_id">


			<xf:form
				  action="{{ link('classifieds/auction/save', $category) }}"
				  ajax="true"
				  class="block"
				  data-xf-init="attachment-manager"
				  draft="{{ link('classifieds/categories/draft', $category) }}"
				  data-preview-url="{{ link('classifieds/categories/listing-preview', $category) }}"
				>
				<xf:formrow name="{$inputName}[{$option.option_id}]" value="{$option.option_value.{$option.option_id}}"
					label="{$option.title}"
					hint="{$hintHtml}"
					explain="{$explainHtml}"
					html="{$listedHtml}">
	
			<!--bidDropDownRange value is  bid dropdown List items count-->
	
					<xf:set var="$bidDropDownRange" value="{{range(0,$dropDownListLimit)}}" />

					<div class="inputChoices">
						<div class="inputChoices-choice" style="padding-left:0;">			
						<div class="inputChoices-spacer">{{ phrase('BidCost') }}</div>
							<xf:radio name="bidPaymentType" value="{{ $option.option_value.imapAuth ? $option.option_value.imapAuth : 'none' }}">
								<xf:option value="0" label="{{ phrase('auctionDropdownBid') }}">
									<xf:dependent>
										<!--sum value is  bid increament+bidstart -->
										<xf:set var="$sum" value="{{$auction.bid_increament+$auction.starting_bid}}" />

										<xf:select>
											<xf:option value="0">{{ phrase('(none)') }}</xf:option>
												<xf:foreach loop="$bidDropDownRange" key="$key" value="$val">
													<xf:option value="{{$sum+$bidIncrementFromDb}}">{{$sum+$bidIncrementFromDb}}</xf:option>
													<xf:set var="$sum" value="{{$sum+$auction.bid_increament}}" />
												</xf:foreach>
										 </xf:select>
									</xf:dependent>
								</xf:option>

								<xf:option value="1" label="{{ phrase('auctionCustomBid') }}">
									<xf:dependent>
										 <xf:numberbox name="starting_bid" value="" min="0" 			
										label="{{ phrase('auctionCustomBid') }}" />
									</xf:dependent>

								</xf:option>
							</xf:radio>
					</div>
	
		</xf:formrow>

			<xf:submitrow icon="reply" sticky="true" />

		</xf:form>
	<xf:else />
		<p>{{phrase('auctionOwnerCanNotBid')}}</p>
	</xf:if>
	
<xf:else />
	{{phrase('biddingNotAllowed')}}
</xf:if>