<xf:title>{{ phrase('please_confirm_delete_icon') }}</xf:title>

<xf:form action="{{ link('forums/delete-icon-unread', $node) }}" class="block" ajax="true">
	<div class="block-container">
		<div class="block-body">
			<xf:inforow rowtype="confirm">
				{{ phrase('please_confirm_that_you_want_to_delete_following:') }}
				
				<xf:formrow rowtype="fullWidth noLabel">
					<img src="{{ base_url($node.getIconUnread()) }}" />
				</xf:formrow>
			</xf:inforow>
			<xf:submitrow rowtype="simple" icon="delete" />
		</div>
	</div>
</xf:form>