<xf:title>{$group.name}</xf:title>

	<xf:button href="{{ link('forumGroups/moderator-list', $subForums) }}" class="button--cta" icon="write">
		{{ phrase('fs_forum_group_moderator_list') }}
	</xf:button>

<xf:pageaction>
	<xf:button href="{{ link('forums/post-thread', $forum) }}" class="button--cta" icon="write">
		{{ phrase('post_thread') }}
	</xf:button>
</xf:pageaction>

<xf:css src="tlg_style.less" />

<xf:sidenav>
	
	<!-- Avatar -->
	
	<div class="block groupAvatar-block">
           <xf:if is="$subForums.AvatarAttachment">
        <a href="{{ link('forumGroups', $subForums) }}"
       class="groupAvatar groupAvatar--link groupAvatar--default" style="background-color:#e08585;color:#8f2424">
			<img src="{{ $subForums.AvatarAttachment.thumbnail_url }}"
                 class="groupAvatar--img bbImage" width="250" height="250"
                 data-width="{$subForums.AvatarAttachment.width}"
                 data-height="{$subForums.AvatarAttachment.height}"
                 alt="{$subForums.title}"/>
    </a>
			   
			<xf:else />
			   <xf:comment>
            <span class="groupAvatar--text groupAvatar--dynamic">{$xf.visitor.username}</span>
			   </xf:comment>
			  <xf:avatar user="$xf.visitor" size="l" />
			</xf:if>
    </div>
	
	<!-- Avatar -->

</xf:sidenav>

<div class="groupWrapper groupWrapper-{$subForums.node_id}">

	<!-- Header -->

	<xf:page option="headerHtml">
        <div class="contentRow contentRow--hideFigureNarrow">
            <div class="contentRow-main">
                <div class="p-title">
                    <h1 class="p-title-value">
                        {$subForums.title}
                    </h1>
                </div>
                    <div class="p-description">
                        {$subForums.description}
                    </div>
            </div>
        </div>
    </xf:page>

	<!-- Header -->

	<!-- Cover Header -->

	<div class="block">
        <div class="block-container groupCover-header">
            <div class="block-body">
               <div class="groupCover groupCoverFrame groupCover--default" style="background-color:#e08585;color:#8f2424">
        <a href="{{ link('forumGroups', $subForums) }}" style="background-color:#e08585;color:#8f2424">
                <xf:if is="$subForums.CoverAttachment">
                <img data-crop="{$subForums->getCoverCropData()|json}"
                     class="groupCover--img groupCover--lazy" data-xf-init="tlg-cover-setup"
                     {{ ($subForums.getImageAttributes()) ? (' ' . $subForums.getImageAttributes()) : '' }}/>
            <xf:else />
                <span class="groupCover--text">{{ snippet($subForums.title, 25) }}</span>
            </xf:if>
        </a>
    </div>
            </div>

            <xf:if is="$isEditing is not empty">
                <xf:macro name="cover_editor_setup" arg-group="{$group}"
                          arg-width="{$baseWidth}"
                          arg-height="{$baseHeight}" />
            <xf:else />
               
				 <div class="gridCard--header--actions">
		   
			<div class="buttonGroup-buttonWrapper">
                <xf:button class="button--link menuTrigger"
                       data-xf-click="menu"
                       aria-expanded="false"
                       aria-haspopup="true" title="{{ phrase('more_options')|for_attr }}"><xf:fa icon="fa-cog" /></xf:button>
					<div class="menu" data-menu="menu" aria-hidden="true">
                    <div class="menu-content">
                                <a href="{{ link('forumGroups/add-moderator', $subForums) }}"
                                       class="menu-linkRow"
                                       data-xf-click="overlay">
                                {{  phrase('fs_forum_groups_moderator')  }}
                            </a>
						
						<a href="{{ link('forumGroups/avatar', $subForums) }}"
                                       class="menu-linkRow"
                                       data-xf-click="overlay">
                                {{  phrase('fs_forum_groups_upload_avatar')  }}
                            </a>
						
						<a href="{{ link('forumGroups/cover', $subForums) }}"
                                       class="menu-linkRow"
                                       data-xf-click="overlay">
                                {{  phrase('fs_forum_groups_upload_cover')  }}
                            </a>
                           
                            <hr class="menu-separator" />
                    </div>
                </div>
            </div>   
			   
		   </div>
				
            </xf:if>

        </div>
    </div>

	<!-- Cover Header -->
	
	<xf:comment>
	
		<xf:pageaction if="$forum.canCreateThread() OR $forum.canCreateThreadPreReg()">
	<xf:button href="{{ link('forums/post-thread', $forum) }}" class="button--cta" icon="write">
		{{ phrase('post_thread') }}
	</xf:button>
</xf:pageaction>
		
	</xf:comment>
	
	<!-- Thread BTN -->
	
	
	<xf:button href="{{ link('forums/post-thread', $subForums) }}" class="button--cta" icon="write" style="float: right">
		{{ phrase('post_thread') }}
	</xf:button>
	
	<!-- Thread BTN -->
	
	
	<!-- Thread Lists -->
	
		<div class="block-container">
		<div class="block-body">
				<div class="structItemContainer">
					<xf:if is="$threads is not empty">
						<div class="structItemContainer-group js-threadList">
							<xf:if is="$threads is not empty">
								<xf:foreach loop="$threads" value="$thread">
									<xf:macro name="fs_forum_groups_thread_list_macros::item"
										arg-thread="{$thread}"
										arg-forum="{$forum}"
										args="null"  />
								</xf:foreach>
							</xf:if>
						</div>				
					<xf:else />
						<div class="structItemContainer-group js-threadList">
								<div class="structItem js-emptyThreadList">
									<div class="structItem-cell">{{ phrase('there_no_threads_in_this_forum') }}</div>
								</div>
						</div>
					</xf:if>
				</div>
		</div>
	</div>
	
	<!-- Thread Lists -->
	
</div>