<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="admin" route_prefix="ship-terms" format=":int&lt;term_id&gt;/:page" controller="FS\AuctionPlugin:ShipTerms" context="fsAuctionShippingTerms"/>
  <route route_type="admin" route_prefix="ship-via" format=":int&lt;via_id&gt;/:page" controller="FS\AuctionPlugin:ShipsVia" context="fsAuctionShipsVia"/>
  <route route_type="public" route_prefix="classifieds" sub_name="auction" format="auction/:int&lt;category_id,title&gt;/" controller="FS\AuctionPlugin:Auction"/>
</routes>
