<xf:title>{{ phrase('tlg_groups') }}</xf:title>

<xf:macro template="metadata_macros" name="canonical_url"
          arg-canonicalUrl="{{ link('canonical:groups', null, {'page': $page}) }}" />

<xf:page option="searchConstraints" value="{{ {
	phrase('tlg_groups'): {'search_type': 'tl_group'}
} }}" />

<xf:pageaction if="$xf.visitor.canAddGroup()">
    <xf:button href="{{ link('groups/add') }}" class="button--cta"
               icon="write"
               overlay="true">{{ phrase('tlg_add_new_group...') }}</xf:button>
</xf:pageaction>

<xf:macro template="tlg_group_list_macros"
          name="group_list_block"
          arg-baseUrl="groups"
          arg-groups="{$groups}"
          arg-page="{$page}"
          arg-perPage="{$perPage}"
          arg-total="{$total}"
          arg-filters="{$filters}"
          arg-creatorFilter="{$creatorFilter}"
          arg-canInlineMod="{$canInlineMod}"
          arg-showMembers="{{ true }}"
          arg-columnsPerRow="{{ 2 }}" />

<xf:page option="sideNavTitle">{{ phrase('categories') }}</xf:page>
<xf:sidenav>
    <xf:macro template="tlg_category_list_macros" name="simple_list_block"
              arg-categoryTree="{$categoryTree}"
              arg-categoryExtras="{$categoryExtras}" />
</xf:sidenav>

<xf:widgetpos id="tlg_group_index" position="sidenav"/>