<xf:h1 hidden="true" />

<xf:if is="$noBreadcrumbs is empty">
    <xf:breadcrumb source="$group.getBreadcrumbs($pageSelected != 'newsFeed')" />
</xf:if>

<xf:css src="tlg_style.less" />

<xf:page option="sideNavTitle">{$group.name|raw}</xf:page>

<xf:sidenav>
    <xf:comment>tl_groups_sidebar_top</xf:comment>

    <xf:macro template="tlg_group_macros" name="avatar_block"
              arg-group="{$group}" arg-blockClasses="groupAvatar-block" />

    <xf:macro template="tlg_group_wrapper_macros" name="tabs"
              arg-group="{$group}"
              arg-selected="{$pageSelected}" />

    <xf:if is="$group.canInvitePeople()">
        <xf:macro template="tlg_group_macros" name="invite_member_form"
                  arg-group="{$group}" />
    </xf:if>

    <xf:macro template="tlg_group_macros" name="share_block"
              arg-group="{$group}" />

    <xf:macro template="tlg_group_macros" name="quick_overview"
              arg-group="{$group}" />

    <xf:macro template="tlg_group_macros" name="share_qr_code" arg-group="{$group}" />

    <xf:comment>tl_groups_sidebar_bottom</xf:comment>
</xf:sidenav>

<xf:widgetpos id="tlg_group_view_sidenav" position="sidenav"
              context-group="{$group}" context-selected="{$pageSelected}"/>

<xf:if is="$noPageOptions is empty">
    <xf:macro template="tlg_group_page_options" name="page_options"
              arg-category="{$group.Category}"
              arg-group="{$group}" />
</xf:if>

<div class="groupWrapper groupWrapper-{$group.group_id}">
    <xf:macro template="tlg_group_wrapper_macros" name="header"
              arg-group="{$group}" />

    <xf:macro template="tlg_group_wrapper_macros" name="cover_header"
              arg-isEditing="{$coverEditor}"
              arg-navSelected="{$pageSelected}"
              arg-group="{$group}" />

    <xf:if is="$group.Member && $group.Member.isInvited()">
        <div class="blockMessage blockMessage--important">
            {{ phrase('tlg_some_people_has_invited_you_join_this_group') }}
            <xf:button href="{{ link('group-members/leave', $group.Member) }}"
                       class="button--cta" overlay="true">{{ phrase('tlg_no_thanks') }}</xf:button>
            <xf:button href="{{ link('group-members/accepted', $group.Member) }}"
                       class="button--link">{{ phrase('accept') }}</xf:button>
        </div>
    </xf:if>

    <xf:macro template="tlg_group_wrapper_macros" name="status"
              arg-group="{$group}" />

    {$innerContent|raw}
</div>