<xf:macro name="card"
          arg-avatarHtml="!"
          arg-cardTitle="!"
          arg-extraHeaderHtml="{{ null }}"
          arg-bodyHtml="{{ null }}"
          arg-footerHtml="{{ null }}"
          arg-actionHtml="{{ null }}"
          arg-coverHtml="{{ null }}"
          arg-config="{{ null }}">

    <xf:css src="tlg_grid_card.less" />
    <div class="gridCard js-inlineModContainer{{ !empty($config.cardClass) ? (' ' . $config.cardClass) : '' }}" id="{{ unique_id() }}">
        <div class="gridCard--container">
            <xf:if is="$coverHtml is not empty"><div class="gridCard--cover">{$coverHtml|raw}</div></xf:if>

            <div class="gridCard--header">
                <div class="gridCard--header--avatar">
					{$avatarHtml|raw}</div>

                <div class="gridCard--header--main">
                    {$cardTitle|raw}
                    <xf:if is="$extraHeaderHtml">{$extraHeaderHtml|raw}</xf:if>
                </div>

                <xf:if contentcheck="true">
                    <div class="gridCard--header--actions"><xf:contentcheck>{$actionHtml|raw}</xf:contentcheck></div>
                </xf:if>
            </div>

            <xf:if contentcheck="true">
                <div class="gridCard--body{{ !empty($config.bodyClass) ? (' ' . $config.bodyClass) : '' }}">
                    <xf:contentcheck>{$bodyHtml|raw}</xf:contentcheck>
                </div>
            </xf:if>

            <xf:if contentcheck="true">
                <div class="gridCard--footer"><xf:contentcheck>{$footerHtml|raw}</xf:contentcheck></div>
            </xf:if>
        </div>
    </div>
</xf:macro>