<xf:macro name="header"
          arg-group="!"
          arg-titleHtml="{{ null }}"
          arg-showMeta="{{ true }}"
          arg-metaHtml="{{ null }}">

    <xf:page option="headerHtml">
        <div class="contentRow contentRow--hideFigureNarrow">
            <div class="contentRow-main">
                <div class="p-title">
                    <h1 class="p-title-value">
                        <xf:if is="$titleHtml !== null">{$titleHtml|raw}<xf:else />{$group.name}</xf:if>
                    </h1>
                </div>
                <xf:if is="$showMeta">
                    <div class="p-description">
                        <xf:if is="$metaHtml !== null">{$metaHtml|raw}<xf:else />{$group.short_description}</xf:if>
                    </div>
                </xf:if>
            </div>
        </div>
    </xf:page>
</xf:macro>

<xf:macro name="status" arg-group="!">
    <xf:if contentcheck="true">
        <dl class="blockStatus blockStatus--standalone">
            <dt>{{ phrase('status') }}</dt>
            <xf:contentcheck>
                <xf:if is="$group.group_state == 'deleted'">
                    <dd class="blockStatus-message blockStatus-message--deleted">
                        <xf:macro template="deletion_macros" name="notice" arg-log="{$group.DeletionLog}" />
                    </dd>
                    <xf:elseif is="$group.group_state == 'moderated'" />
                    <dd class="blockStatus-message blockStatus-message--moderated">
                        {{ phrase('awaiting_approval_before_being_displayed_publicly') }}
                    </dd>
                </xf:if>
            </xf:contentcheck>
        </dl>
    </xf:if>
</xf:macro>

<xf:macro name="tabs" arg-group="!" arg-selected="!">
    <div class="block" data-selected="{$selected}">
        <div class="block-container">
            <h3 class="block-minorHeader">
                <a href="{{ link('groups', $group) }}">{$group.name}</a>
            </h3>

            <div class="block-footer"><xf:macro template="tlg_group_macros" name="privacy_html" arg-group="{$group}" /></div>

            <div class="block-body">
                <ol class="groupViewNav listPlain">
                    <xf:comment>tl_groups:top_navigation</xf:comment>
                    <xf:foreach loop="$group.getNavigationItems()" key="$navId" value="$navItem">
                        <li class="groupViewNav--item groupViewNav--{$navId}{{ ($selected == $navId) ? ' is-active' : '' }}">
                            <a href="{$navItem.link}">
                                <span class="groupViewNav--itemText">{$navItem.title}</span>
                                <xf:if is="$navItem.counter > 0">
                                    <span class="badge badge--highlighted">{$navItem.counter}</span>
                                </xf:if>
                            </a>
                        </li>
                    </xf:foreach>
                    <xf:comment>tl_groups:bottom_navigation</xf:comment>
                </ol>
            </div>
        </div>
    </div>
</xf:macro>

<xf:macro name="cover_header" arg-group="!" arg-isEditing="{{ false }}" arg-navSelected="{{ null }}">
    <div class="block">
        <div class="block-container groupCover-header {{ $isEditing is empty ? '' : 'groupCover-editor' }}">
            <div class="block-body">
                <xf:macro template="tlg_group_macros" name="cover"
                          arg-isRepositioning="{$isEditing}"
                          arg-group="{$group}" />
            </div>

            <xf:if is="$isEditing is not empty">
                <xf:macro name="cover_editor_setup" arg-group="{$group}"
                          arg-width="{$baseWidth}"
                          arg-height="{$baseHeight}" />
            <xf:else />
                <xf:macro name="cover_header_navigation" arg-group="{$group}" arg-selected="{$navSelected}" />
            </xf:if>
        </div>
    </div>
</xf:macro>

<xf:macro name="cover_header_navigation" arg-group="!" arg-selected="!">
    <div class="groupHeader-navList h-dFlex">
        <div class="p-nav-scroller hScroller" data-xf-init="h-scroller" data-auto-scroll=".groupViewNav--item.is-active">
            <div class="hScroller-scroll">
                <ul class="p-nav-list js-offCanvasNavSource">
                    <xf:foreach loop="$group.getNavigationItems()" key="$navId" value="$nav">
                        <li class="groupViewNav--item groupViewNav--{$navId}{{ ($selected == $navId) ? ' is-active' : '' }}">
                            <a href="{$nav.link}">
                                {$nav.title}
                                <xf:if is="$nav.counter">
                                    <span class="badge badge--highlighted">{$nav.counter|number}</span>
                                </xf:if>
                            </a>
                        </li>
                    </xf:foreach>
                </ul>
            </div>
        </div>

        <xf:if contentcheck="true">
            <div class="buttonGroup groupHeader-navList--user h-dFlex">
                <xf:contentcheck>
                    <xf:if contentcheck="true">
                        <xf:contentcheck>
                            <xf:macro template="tlg_group_macros"
                                      name="join_button"
                                      arg-group="{$group}" />
                        </xf:contentcheck>
                    </xf:if>

                    <xf:if is="$group.Member AND $group.Member.canUpdateNotify()">
                        <xf:button href="{{ link('group-members/notify', $group.Member) }}"
                                   class="button--link button--groupAlerts" overlay="true">
                            <xf:fa icon="fa-bell{{ $group.Member.alert == 'off' ? '-slash' : '' }}" />
                            {{ phrase('tlg_notifications') }}
                        </xf:button>
                    </xf:if>

                    <xf:comment>tl_groups_cover_header:buttonGroup_extra</xf:comment>

                    <xf:if contentcheck="true">
                        <xf:contentcheck>
                            <xf:macro template="tlg_group_macros" name="settings" arg-group="{$group}" arg-advanced="{{ true }}" />
                        </xf:contentcheck>
                    </xf:if>
                </xf:contentcheck>
            </div>
        </xf:if>
    </div>
</xf:macro>

<xf:macro name="cover_editor_setup" arg-group="!" arg-width="!" arg-height="!">
    <xf:js src="Truonglv/Groups/Libs/hammer/hammer.js" min="1" addon="Truonglv/Groups"/>
    <xf:js src="Truonglv/Groups/Libs/cropbox/jquery.cropbox.js" addon="Truonglv/Groups" min="1" />
    <xf:js src="Truonglv/Groups/cover.js" addon="Truonglv/Groups" min="1" />

    <div class="block-footer" style="text-align: center">
        <div class="buttonGroup">
            <xf:button data-xf-init="tlg-cover-editor"
                       data-width="{$width}"
                       data-save="{{ link('groups/cover', $group) }}"
                       data-guide-text="{{ phrase('tlg_drag_to_reposition_cover')|for_attr }}"
                       data-height="{$height}"
                       data-frame="< .groupCover-header | .groupCoverFrame"
                       data-hammer-js="{{ js_url('Truonglv/Groups/Libs/hammer/hammer.min.js') }}"
                       icon="save">{{ phrase('button.save') }}</xf:button>
            <xf:button href="{{ link('groups', $group) }}" class="button--link" icon="cancel">{{ phrase('cancel') }}</xf:button>
        </div>
    </div>
</xf:macro>