<xf:macro name="escrow"
	arg-escrow="!"
	>
	<li class="block-row block-row--separated  js-inlineModContainer" >
	<div class="contentRow ">
		<span class="contentRow-figure">
			
			<xf:avatar user="{$escrow.Thread.User}" size="s" defaultname="{$escrow.Thread.User.username}" />
		</span>
		<div class="contentRow-main">
			<h3 class="contentRow-title">
				<a href="{{ link('threads', $escrow.Thread) }}">{{$escrow.Thread.title}}</a>
			</h3>


			<div class="contentRow-minor contentRow-minor--hideLinks">
				<ul class="listInline listInline--bullet">
					<li><xf:username user="{$escrow.Thread.User}" defaultname="{$escrow.Thread.User.username}" /></li>
					<li><xf:date time="{$escrow.Thread.post_date}" /></li>
					<li>{{ phrase('fs_escrow_amount:') }} {$escrow.escrow_amount|number}</li>
				</ul>
			</div>
		</div>
	</div>
</li>
	
</xf:macro>	



<!-- placingProperTableCellTemplate -->

<xf:macro name="logs_table_list" arg-logs="!">

  <xf:datarow rowtype="header">
    <xf:cell> {{ phrase('fs_escrow_trans_type') }} </xf:cell>
    <xf:cell> {{ phrase('fs_escrow_trans_date') }} </xf:cell>
    <xf:cell> {{ phrase('fs_escrow_trans_amount') }} </xf:cell>
    <xf:cell> {{ phrase('fs_escrow_trans_current') }} </xf:cell>

  </xf:datarow>
  <xf:foreach loop="$logs" value="$log">
    <xf:datarow>
      <xf:cell> {{$log.transaction_type}} </xf:cell>
      <xf:cell><xf:date time="$log.created_at" /></xf:cell>
      <xf:cell> {{$log.transaction_amount }} </xf:cell>
      <xf:cell>{{$log.current_amount}}</xf:cell>

    </xf:datarow>
  </xf:foreach>
</xf:macro>