<div class="block-container">
  <div class="block-body">
    <xf:form action="{{ link($prefix . '/toggle') }}" class="block" ajax="true">
      <div class="block-container">
        <xf:if is="true">
          <div class="block-body">
            <xf:datalist data-xf-init="responsive-data-list">
              <xf:macro
				template="fs_escrow_list_macro"
                name="logs_table_list"
                arg-logs="{$logs}"
              />
            </xf:datalist>
          </div>

          <xf:else />
          <div class="block-body block-row">
            {{ phrase('no_any_transaction_found') }}
          </div>
        </xf:if>
      </div>
    </xf:form>
  </div>